<mat-card>
  <mat-card-header>
      <mat-toolbar class="toolbar">
          <mat-card-title>Контакты</mat-card-title>
          <span class="toolbar-spacer"></span>
          <mat-icon class="pointer">search</mat-icon>
          <mat-icon class="pointer" (click)="addContact()">add</mat-icon>
      </mat-toolbar>
  </mat-card-header>
  <mat-card-content>
      <div class="g-wrapper">
          <div class="g-content">
              <div class="table-row header">
                  <div class="table-row__data">Превью</div>
                  <div class="table-row__data">Имя</div>
                  <div class="table-row__data">Фамилия</div>
                  <div class="table-row__data">Дата Рождения</div>
                  <div class="table-row__data">Возраст</div>
                  <div class="table-row__data">Должность</div>
                  <div class="table-row__data">Удаленная работа</div>
                  <div class="table-row__data">Адрес</div>
                  <mat-icon>edit</mat-icon>
                  <mat-icon>delete</mat-icon>
              </div>
              <div cdkDropList 
              #todoList="cdkDropList"
              [cdkDropListData]="ContactList"
              (cdkDropListDropped)="onDrop($event)">
                  <mat-card class="table-row g-card" *ngFor="let Contact of ContactList" cdkDrag>
                      <mat-card-title class="table-row__data">
                          <img class="preview" src="/assets/1.jpg">
                      </mat-card-title>
                      <mat-card-title class="table-row__data">{{Contact.FirstName}}</mat-card-title>
                      <mat-card-title class="table-row__data">{{Contact.LastName}}</mat-card-title>
                      <mat-card-title class="table-row__data">{{Contact.Birthday}}</mat-card-title>
                      <mat-card-title class="table-row__data">{{Contact.Age}}</mat-card-title>
                      <mat-card-title class="table-row__data">{{Contact.Position}}</mat-card-title>
                      <mat-card-title class="table-row__data"><mat-checkbox></mat-checkbox></mat-card-title>
                      <mat-card-title class="table-row__data">{{Contact.Adress}}</mat-card-title>
                      <mat-icon class="pointer" (click)="editContact(Contact.ID)">edit</mat-icon>
                      <mat-icon class="pointer" (click)="deleteContact(Contact.ID)">delete</mat-icon>
                  </mat-card>
              </div>
          </div>
      </div>
  </mat-card-content>   
</mat-card>